.btn-outline-secondary {
  color: var(--bs-secondary);
}
.btn-outline-secondary {
  &:hover {
    color: #fff;
  }
}
.gradient-custom {
  background-image: -webkit-linear-gradient(248deg, #5ca22a 0%, #5098c8 47%, #FFCC70 95%);
  background-image: linear-gradient(248deg, #5ca22a 0%, #5098c8 47%, #FFCC70 95%);
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navbar {
  transition: all 0.5s ease-in-out;
}
.navbar-sticky {
  background-image: -webkit-linear-gradient(248deg, #5ca22a 0%, #5098c8 47%, #FFCC70 95%);
  background-image: linear-gradient(248deg, #5ca22a 0%, #5098c8 47%, #FFCC70 95%);
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.xl-text {
  font-size: 75px;
}
/* Header */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url('../../images/hero11.jpg') left center no-repeat;

  // background-image: -webkit-linear-gradient(248deg, #5ca22a 0%, #5098c8 47%, #FFCC70 95%);
  // background-image: linear-gradient(248deg, #5ca22a 0%, #5098c8 47%, #FFCC70 95%);
 // background-image: linear-gradient(248deg, #5ca22a 0%, #C850C0 47%, #FFCC70 95%);
  background-size: cover;
}
.introduction .decoration-star {
  top: 70px;
  left: -100px;
  width: 500px;
  opacity: 0.7;
}
.introduction .decoration-star-2 {
  top: 70px;
  right: -100px;
  width: 500px;
  opacity: 0.7;
}
.details .decoration-star {
  left: -200px;
  width: 500px;
}
.details-2 .decoration-star {
  right: -200px;
  width: 500px;
}
.contact .decoration-star {
  left: -300px;
  width: 600px;
}
.to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #44434a;
  width: 52px;
  height: 52px;
  border: none;
  outline: none;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  cursor: pointer;
}
.to-top-btn {
  &:hover {
    background-color: #1d1d12;
  }
}
.show {
  opacity: 5;
}
@media (max-width: 992px) {
  .navbar {
    background-image: -webkit-linear-gradient(248deg, #5ca22a 0%, #5098c8 47%, #FFCC70 95%);
    background-image: linear-gradient(248deg, #5ca22a 0%, #5098c8 47%, #FFCC70 95%);
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .xl-text {
    font-size: 50px;
  }
  .header {
    margin-top: 0px !important;
    text-align: center;
  }
  .introduction .decoration-star {
    left: -100px;
    width: 250px;
  }
  .introduction .decoration-star-2 {
    right: -100px;
    width: 250px;
  }
  .image-container {
    margin-top: 30px;
  }
  .intro {
    padding: 20px 0px !important;
  }
  .services .col-md-4 {
    border-bottom: 1px #ccc solid;
    margin: 10px 0px;
  }
  .details-2 {
    margin-top: 0 !important;
  }
  .details-2 .decoration-star {
    top: 300px;
  }
}
.cls-1 {
  fill: var(--bs-light)
}
.transformation{
  transform: rotate(-180deg);
}
//fonts
.roboto {
  font-family: var(--font-roboto);
}

//button toggler
.navbar-toggler {
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none !important;
  }
}

//lien active
.navbar {
  .navbar-nav {
    .nav-link {
      color: var(--bs-dark);
      &:hover {
        color: #e4b00f;
        border-bottom: 1px solid #e4b00f;
      }
    }
    .active-link {
      font-weight: bold;
      color: var(--bs-secondary);
      border-bottom: 1px solid #e4b00f;
      transition: all 0.4s ease-in-out;
    }
  }
}


.hr-heading {
  display: inline-block;
  width: 3.5rem;
  height: 0.125rem;
  margin-top: 0.625rem;
  border: none;
  background-color: var(--bs-secondary);
  opacity: 1;
}

.hr-introduction{
  display: inline-block;
  width: 15.5rem;
  height: 0.125rem;
  margin-top: 0.625rem;
  border: none;
  background-color: var(--bs-primary);
  opacity: 1;
}
body{ 
  background-image: -webkit-linear-gradient(136deg, #5ca22a 30%, #5098c8 47%, #ffcd707c 20%);
  background-image: linear-gradient(136deg, #5ca22a 30%, #5098c8 47%, #ffcd7083 20%);
}
.systeme .fontAwesome{
  width: 25px;
}
.frame-decoration{
  margin-bottom: -5px;
}
.testimonials .fontAwesome{
  width: 50px;
}
.fontAwesome{
  width: 25px;
}